<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book</title>
    <link rel="stylesheet" href="./willQ.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">    <title>Declaration of Trust Declaration</title>
</head>
<body>

<!-- header  -->
<header class="header">
    <div class="header_top">
        <div class="form_name_div">
            <span class="form_name">Address Book</span>
        </div>
    </div>
</header>

<!-- Address Card Section -->
<div class="section">
    <!-- main applicants -->
    <div class="flex-row-wrap-center p-20 gap-20">
        <div class="address_card">
            <table class="mb-10">
                <tr>
                    <td class="text-white text-style text-bold">Sherlock Holmes</td>
                </tr>
                <tr>
                    <td class="text-white">Client 1 / Testator / Executor</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="text-small">Email ID</td>
                </tr>
                <tr>
                    <td class="text-white">sherlock.holmes@gmail.com</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="text-small">Mobile Number</td>
                    <td class="text-small">Certification Type</td>
                </tr>
                <tr>
                    <td class="text-white">123 456 7890</td>
                    <td class="text-white">Consultant</td>
                </tr>
            </table>
        </div>
        <div class="address_card">
            <table class="mb-10">
                <tr>
                    <td class="text-white text-style text-bold">Sherlock Holmes</td>
                </tr>
                <tr>
                    <td class="text-white">Client 1 / Testator / Executor</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="text-small">Email ID</td>
                </tr>
                <tr>
                    <td class="text-white">sherlock.holmes@gmail.com</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="text-small">Mobile Number</td>
                    <td class="text-small">Certification Type</td>
                </tr>
                <tr>
                    <td class="text-white">123 456 7890</td>
                    <td class="text-white">Consultant</td>
                </tr>
            </table>
        </div>

    <!-- relatives -->
        <div class="address_card_relatives">
            <table class="mb-10">
                <tr>
                    <td class=" text-style text-green text-bold">Sherlock Holmes</td>
                </tr>
                <tr>
                    <td class="">Client 1 / Testator / Executor</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Email ID</td>
                </tr>
                <tr>
                    <td class="">sherlock.holmes@gmail.com</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Mobile Number</td>
                    <td class="key">Certification Type</td>
                </tr>
                <tr>
                    <td class="">123 456 7890</td>
                    <td class="">Consultant</td>
                </tr>
            </table>
        </div>
        <div class="address_card_relatives">
            <table class="mb-10">
                <tr>
                    <td class=" text-style text-green text-bold">Sherlock Holmes</td>
                </tr>
                <tr>
                    <td class="">Client 1 / Testator / Executor</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Email ID</td>
                </tr>
                <tr>
                    <td class="">sherlock.holmes@gmail.com</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Mobile Number</td>
                    <td class="key">Certification Type</td>
                </tr>
                <tr>
                    <td class="">123 456 7890</td>
                    <td class="">Consultant</td>
                </tr>
            </table>
        </div>
        <div class="address_card_relatives">
            <table class="mb-10">
                <tr>
                    <td class=" text-style text-green text-bold">Sherlock Holmes</td>
                </tr>
                <tr>
                    <td class="">Client 1 / Testator / Executor</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Email ID</td>
                </tr>
                <tr>
                    <td class="">sherlock.holmes@gmail.com</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Mobile Number</td>
                    <td class="key">Certification Type</td>
                </tr>
                <tr>
                    <td class="">123 456 7890</td>
                    <td class="">Consultant</td>
                </tr>
            </table>
        </div>
        <div class="address_card_relatives">
            <table class="mb-10">
                <tr>
                    <td class=" text-style text-green text-bold">Sherlock Holmes</td>
                </tr>
                <tr>
                    <td class="">Client 1 / Testator / Executor</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Email ID</td>
                </tr>
                <tr>
                    <td class="">sherlock.holmes@gmail.com</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Mobile Number</td>
                    <td class="key">Certification Type</td>
                </tr>
                <tr>
                    <td class="">123 456 7890</td>
                    <td class="">Consultant</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>