<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Address</title>
    <link rel="stylesheet" href="./willQ.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <title>Declaration of Trust Declaration</title>
  </head>
  <body>
    <!-- header  -->
    <header class="header">
      <div class="header_top">
        <div class="form_name_div">
          <span class="form_name">Address Book</span>
        </div>
      </div>
    </header>

    <div class="single_address_item">
    <!-- Heading -->
    <div class="section">
      <div class="p-20">
        <div class="text_big text-green text-bold">Sherlock Holmes</div>
        <div class="text-small">Client 1 / Testator / Executor</div>
      </div>
      <div class="hr"></div>
    </div>

    <!-- Profile details -->
    <div class="section p-20">
      <div class="flex-row-only text-top">
        <div class="flex-1">
          <table class="mb-10">
            <tr>
              <td class="key">Full Name</td>
              <td class="key">Alias</td>
            </tr>
            <tr>
              <td class="">Input Text</td>
              <td class="">Input Text</td>
            </tr>
          </table>
          <table class="mb-10">
            <tr>
              <td class="key">Relationship to Client 1</td>
              <td class="key">Relationship to Client 2</td>
            </tr>
            <tr>
              <td class="">Select</td>
              <td class="">Select</td>
            </tr>
          </table>
          <table class="mb-10">
            <tr>
              <td class="key">Home Telephone</td>
              <td class="key">Mobile Number</td>
            </tr>
            <tr>
              <td class="">Input Text</td>
              <td class="">Input Text</td>
            </tr>
          </table>
          <table class="mb-10">
            <tr>
              <td class="key">Email ID</td>
            </tr>
            <tr>
              <td class="">someone@something.com</td>
            </tr>
          </table>
          <table class="mb-10">
            <tr>
              <td class="key">Occupation</td>
            </tr>
            <tr>
              <td class="">Something</td>
            </tr>
          </table>
        </div>

        <div class="flex-1">
          <table class="mb-10">
            <tr>
              <td class="key">Gender</td>
              <td class="key">Date of Birth</td>
            </tr>
            <tr>
              <td>Male</td>
              <td>23/1/1990</td>
            </tr>
          </table>
          <table class="mb-10">
            <tr>
              <td class="key" colspan="2">Address</td>
            </tr>
            <tr>
              <td colspan="2">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error
                culpa, necessitatibus voluptas adipisci dicta nostrum beatae
                ipsa aperiam. Error molestias totam quaerat hic optio maiores
                pariatur eius amet velit sed?
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Identification -->
      <div class="text-bold py-20">Identification</div>

      <!-- Certification Type -->
      <div class="flex-row-only gap-20 text-top mb-10">
        <table class="">
          <tr>
            <td class="key">Certification Type</td>
          </tr>
          <tr>
            <td>Squiggle Consultant</td>
          </tr>
        </table>
        <!-- <div class="address_document_image"></div> -->
      </div>

      <div class="flex-row-only-sb">
        <!-- Personal ID Proof -->
        <div class="flex-column gap-10 width-50">
          <table class="width-95">
            <tr>
              <td class="key">Personal ID Proof</td>
            </tr>
            <tr>
              <td>Driving License</td>
            </tr>
          </table>
          <div class="address_document_image width-95"></div>
        </div>

        <!-- Proof of Residency -->
        <div class="flex-column gap-10 width-50">
          <table class="width-95">
            <tr>
              <td class="key">Proof of Residency</td>
            </tr>
            <tr>
              <td>Utility Bill</td>
            </tr>
          </table>
          <div class="address_document_image width-95"></div>
        </div>
      </div>

      <!-- declaration -->
      <div class="flex-row gap-20 my-20">
        <div class="checkbox text-top">✔</div>
        <div class="text-bold">
          I certify that the photo(s) above is a true copy of the original.
        </div>
      </div>

      <!-- signature -->
      <table class="my-20">
        <tr>
          <td class="key pb-8">Consultant</td>
          <td class="key pb-8">Date</td>
          <td class="key pb-8">Signature</td>
        </tr>
        <tr>
          <td class="text-top">Jane Doe</td>
          <td class="text-top">11-11-2022</td>
          <td class="signature_box"></td>
        </tr>
      </table>
    </div>
    <div class="single_address_item">

  </body>
</html>
