<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declation of Trust Questionare</title>
    <link rel="stylesheet" href="./willQ.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">    <title>Declaration of Trust Declaration</title>
</head>
<body>
    
<!-- header  -->
<header class="header">
    <div class="header_top">
        <div class="form_name_div">
            <span class="form_name">Declation of Trust Questionare</span>
        </div>
    </div>
</header>

<!-- Name of the trust -->
<div class="section">
    <p class="bigger_heading">Trust 1 <span class="text-italic text-22">/ Name of the Trust</span></p>
    <div class="hr"></div>
    <div class="center_container">
        <div class="width-70">
            <table class="mb-10">
                <tr>
                    <td colspan="2" class="key">Property</td>
                </tr>
                <tr>
                    <td colspan="2" class="">Some random name</td>
                </tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Title Number</td>
                    <td class="key">Purchase Price</td>
                    <td class="key">Current Value</td>
                    <td class="key">Mortgage Value</td>
                </tr>
                <tr>
                    <td>738279</td>
                    <td>20,000</td>
                    <td>20,000</td>
                    <td>20,000</td>
                </tr>
            </table>

            <table class="mb-30">
                <tr>
                    <td class="key">Would you like an AP1 / RX1 Restriction registered at Land Registry?</td>
                </tr>
                <tr>
                    <td>Yes</td>
                </tr>
            </table>

            <div class="exclusion_table_container mb-30">
                <table class="mb-10">
                    <tr>
                        <td class="key">Party 1</td>
                    </tr>
                    <tr>
                        <td>Some random name</td>
                    </tr>
                </table>
                <table class="mb-10">
                    <tr>
                        <td class="key">Contribution</td>
                        <td class="key">Monthly Mortgage Contribution</td>
                        <td class="key">Share</td>
                    </tr>
                    <tr>
                        <td>3,000</td>
                        <td>15,000</td>
                        <td>35%</td>
                    </tr>
                </table>
             
            </div>

            <!-- 1 -->
            <table class="mb-10">
                <tr><td class="text-green text-small">If there are loans, are they interest bearing?</td></tr>
                <tr><td>Yes</td></tr>
            </table>

            <!-- 2 -->
            <table class="mb-10">
                <tr><td class="text-green text-small">Detail if any of the contributions are loans & on what terms?</td></tr>
                <tr><td>Yes</td></tr>
            </table>

            <!-- 3 -->
            <table class="mb-10">
                <tr><td class="text-green text-small">Are there any other special terms?</td></tr>
                <tr><td>No</td></tr>
            </table>

            <!-- 4 -->
            <table class="mb-10">
            <tr><td class="text-green text-small">Detail in your own words the nature of the declaration of trust?</td></tr>
            <tr><td>Yes</td></tr>
            </table>

        </div>
    </div>   
    <div class="hr"></div>
</div>

</body>
</html>