<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trust Questionare</title>
    <link rel="stylesheet" href="./willQ.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">    <title>Plan Selection</title>
</head>
<body>

<!-- header  -->
<header class="header">
    <div class="header_top">
        <div class="form_name_div">
            <span class="form_name">Trust Questionnaire</span>
        </div>
    </div>
</header>

<!-- Name of the trust -->
<div class="section">
    <p class="bigger_heading">Trust 1 <span class="text-italic text-22">/ Name of the Trust</span></p>
    <div class="hr"></div>
    <div class="center_container">
        <div class="width-70">
            <table class="mb-10">
                <tr>
                    <td colspan="2" class="key">Name of the Trust</td>
                </tr>
                <tr>
                    <td colspan="2" class="">Some random name</td>
                </tr>
            </table>
            <table class="mb-10">
                <tr>
                    <td class="key">Is Client 1 going to be a Settlor?</td>
                    <td class="key">Is Client 2 going to be a Settlor?</td>
                </tr>
                <tr>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </table>
            <table class="mb-10">
                <tr>
                    <td class="key">Do you Client 1 wants to be a Trustee?</td>
                    <td class="key">Do you Client 2 wants to be a Trustee?</td>
                </tr>
                <tr>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </table>
            <table class="mb-10">
                <tr>
                    <td class="key">Is Client 1 going to retain a life interest?</td>
                    <td class="key">Is Client 2 going to retain a life interest?</td>
                </tr>
                <tr>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </table>

            <div class="info_container">
                <div class="info">i</div>
                <div>
                    <div class="text-small text-green">If you <span class="text-bold text-small text-green mb-20">retain an interest</span> in assets placed into Trust, you retain the right to enjoy those assets and receive income. Your rights to those assets remain paramount and supersede those of the other beneficiaries. Assets will still form part of your estate for inheritance tax purposes.
                    </div>
                    <div class="text-small text-green">If you <span class="text-bold text-small text-green">do not retain</span> an interest in the Trust, assets will eventually come out of your estate for inheritance tax purposes but, those assets can only be utilised for the benefit of the named beneficiaries.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hr"></div>
</div>

<!-- TRUSTEES -->
<div class="section">
    <div class="section_heading">Trustees</div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
    <div class="flex-column gap-10">
        <div class="exclusion_table_container">
            <table class="mb-10">
                <tr>
                    <td class="key">Trustee 1's Full Name</td>
                    <td class="key">Acting in a professional capacity?</td>
                </tr>
                <tr>
                    <td>Some random name</td>
                    <td>Yes</td>
                </tr>
            </table>
        </div>

        <div class="exclusion_table_container">
            <table class="mb-10">
                <tr>
                    <td class="key">Trustee 1's Full Name</td>
                    <td class="key">Acting in a professional capacity?</td>
                </tr>
                <tr>
                    <td>Some random name</td>
                    <td>Yes</td>
                </tr>
            </table>
        </div>
    </div>          
    </div>
    </div>
    <div class="hr"></div>
</div>

<!-- Guidance To Trustees -->
<div class="section mb-30">
    <div class="flex-row m-20 gap-10">
        <div class="text-green text-bold">Guidance to Trustees</div>
        <div class="text-small width-70">Guidance is not binding on the Trustees but it is incumbent on them to take a Settlor’s wishes into account. A Trustee must always act in the best interest of the beneficiaries.</div>
    </div>
    <div class="hr"></div>
</div>

<!-- SPECIFIC DISTRUBUTION -->
<div class="section">
    <div class="hr"></div>
    <div class="m-20">
    <div class="flex-column">
        <div class="text-bold mb-5">Specific Distribution</div>
        <div class="text-green text-small">You may leave your chattels and personal items “to be distributed according to any expression of wishes”. Your Trustees will then carry out your wishes as directed.</div>
    </div>
    </div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
    <div class="exclusion_table_container">
        <table class="mb-10">
            <tr>
                <td class="key" colspan="2">Beneficiary 1</td>
                <td class="key">Asset or Monetary Value</td>
                <td class="key"></td>
            </tr>
            <tr>
                <td class="pb-8" colspan="2">Beneficiary name</td>
                <td class="pb-8">some value</td>
                <td class="pb-8"></td>
            </tr><tr>
                <td class="key">Per Stirpes</td>
                <td class="key text-center">Age of Inheritance</td>
                <td class="key">Percentage Share</td>
            </tr>
            <tr>
                <td class="pb-8">Yes</td>
                <td class="pb-8 text-center">18%</td>
                <td class="pb-8">39%</td>
            </tr>
        </table>

    </div>
    </div>
    </div>
    <div class="hr"></div>
</div>

<!-- Special Beneficial Interest -->
<div class="section">
    <div class="section_heading">
    <div class="flex-column">
        <div class="mb-5">Special Beneficial Interest</div>
        <div class="text-green text-small">Trustees to use their discretion and delay distribution of an asset so that a beneficiary might enjoy it during their lifetime</div>
    </div>
    </div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
    <div class="exclusion_table_container">
        <table class="mb-10">
            <tr>
                <td colspan="2" class="key">Beneficiary 1</td>
            </tr>
            <tr>
                <td colspan="2">Some random name</td>
            </tr>
        </table>
        <table class="mb-10">
            <tr>
                <td class="key">Asset or Monetary Value</td>
                <td colspan="2" class="key">Beneficiary name</td>
            </tr>
            <tr>
                <td>Other</td>
                <td>Voilin</td>
            </tr>
        </table>
        <table class="mb-10">
            <tr>
                <td colspan="2" class="key">Until</td>
            </tr>
            <tr>
                <td colspan="2">some value</td>
            </tr>
        </table>
    </div>
    </div>
    </div>
    <div class="hr"></div>
</div>

<!-- General / Residue Distribution -->
<div class="section">
    <div class="section_heading_dark_16">General / Residue Distribution</div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
        <table class="mb-10">
            <tr><td class="key">Trustees should use their discretion to distribute Trust assets to the following beneficiaries on the basis of?</td></tr>
            <tr><td>Percentage</td></tr>
        </table>

        <div class="exclusion_table_container">
            <table class="mb-10">
                <tr><td class="key">Beneficiary 1</td></tr>
                <tr><td>Some random name</td></tr>
            </table>

            <table class="mb-10">
                <tr>
                    <td class="key">Per Stirpes</td>
                    <td class="key">Age of Inheritance</td>
                    <td class="key">Percentage Share</td>
                </tr>
                <tr>
                    <td>Yes</td>
                    <td>18</td>
                    <td>39%</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <div class="hr"></div>
</div>

<!-- Ultimate Beneficiary -->
<div class="section">
    <div class="section_heading_dark_16">Ultimate Beneficiary</div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
        <div class="exclusion_table_container">
            <table class="mb-10">
                <tr>
                    <td class="key">Full Name</td>
                    <td class="key">Relationship to Settlors</td>
                </tr>
                <tr>
                    <td class="pb-8">Some random name</td>
                    <td class="pb-8">Niece</td>
                </tr>
                <tr>
                    <td class="key">Gender</td>
                    <td class="key">DOB</td>
                </tr>
                <tr>
                    <td class="pb-8">Male</td>
                    <td class="pb-8">23/2/98</td>
                </tr>
                <tr>
                    <td class="key" colspan="2">Address</td>
                </tr>
                <tr>
                    <td class="pb-8" colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse ad ducimus recusandae a, veritatis accusamus. Deserunt nihil itaque vel, illum beatae consequuntur quo. Laborum iste harum atque qui ipsa!</td>
                </tr>
            </table>

        </div>
    </div>
    </div>
</div>

<!-- Adding New Beneficiary -->
<div class="section">
    <div class="hr"></div>
    <div class="section_heading_dark_16">
        Adding New Beneficiary
    </div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
    <table>
        <tr><td class="text-green">Selected statements-</td></tr>
        <tr><td>Issue & remoter issues of beneficiaries to be added as new beneficiaries as they are born</td></tr>
    </table>
    </div>
        </div>
</div>

<!-- Restrictions -->
<div class="section">
    <div class="hr"></div>
    <div class="section_heading_dark_16">
        Restrictions
    </div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
    
    <!-- 1 -->
    <table class="mb-10">
        <tr><td class="text-green">Use discretion to restrict distribution if a beneficiary is made bankrupt or becomes insolvent</td></tr>
        <tr><td>Yes</td></tr>
    </table>

    <!-- 2 -->
    <table class="mb-10">
        <tr><td class="text-green">Select one of the following statement-</td></tr>
        <tr><td>Issue & remoter issues of beneficiaries to be added as new beneficiaries as they are born</td></tr>
    </table>

    <!-- 3 -->
    <table class="mb-10">
        <tr><td class="text-green">Restrict distribution if a beneficiary is dependent on substances (drugs or alcohol)</td></tr>
        <tr><td>No</td></tr>
    </table>

    <!-- 4 -->
    <table class="mb-10">
    <tr><td class="text-green">Restrict distribution if a beneficiary has a gambling addiction</td></tr>
    <tr><td>Yes</td></tr>
    </table>

    
    <!-- 5 -->
    <table class="mb-10">
        <tr><td class="key">Any other guidance, if any</td></tr>
        <tr><td>Issue & remoter issues of beneficiaries to be added as new beneficiaries as they are born</td></tr>
    </table>
    </div>
    </div>
</div>

<!-- Assets being transferred -->
<div class="section">
    <div class="hr"></div>
    <div class="section_heading">
        Assets being transferred
    </div>
    <div class="hr"></div>
    <div class="center_container">
    <div class="width-70">
    <div class="flex-column">
        <div class="exclusion_table_container mb-30">
        <table class="mb-10">
            <tr>
                <td class="key">Asset Name</td>
                <td class="key">Type of Asset</td>
            </tr>
            <tr>
                <td class="pb-8">Jaguar F-Pace</td>
                <td class="pb-8">Vehicle</td>
            </tr>
            <tr>
                <td class="key">Asset Of</td>
                <td class="key">Maintain Interest</td>
            </tr>
            <tr>
                <td class="pb-8">Vehicle</td>
                <td class="pb-8">Yes    </td>
            </tr>
            <tr>
                <td class="key">Method</td>
                <td class="key">Gross</td>
                <td class="key">Net</td>
            </tr>
            <tr>
                <td class="pb-8">Transfer</td>
                <td class="pb-8">20,000</td>
                <td class="pb-8">17,000</td>
            </tr>
        </table>
        </div>

        <table class="mb-10">
            <tr>
                <td class="key">Particulars</td>
                <td class="key">Gross</td>
                <td class="key">Net</td>
            </tr>
            <tr>
                <td class="pb-8">Total Value of Assets to be placed in Trust</td>
                <td class="pb-8">£350k</td>
                <td class="pb-8">£350k</td>
            </tr>
            <tr>
                <td class="pb-8">Above / Below Nil Rate Band</td>
                <td class="pb-8">£350k</td>
                <td class="pb-8">£350k</td>
            </tr>
            <tr>
                <td class="pb-8" colspan="2">Entry Tax payable</td>
                <td class="pb-8">£350k</td>
            </tr>
            <tr>
                <td class="pb-8">Portion liable to periodic charges</td>
                <td class="pb-8">£350k</td>
                <td class="pb-8">£350k</td>
            </tr>
        </table>


    </div>
    </div>
    </div>
</div>



</body>
</html>