*{
    padding:0px;
    margin:0px;
    font-family: 'Crimson Text', serif;
    font-family: 'Poppins', sans-serif;
    color: #3D4740;
    font-size: 16px;
}

body{
    padding-bottom: 50px;
}

.key{
    color: rgb(0, 204, 68);
    font-weight: 500;
    font-size: 12px !important;
}

.header {
    padding: 20px;
    background-color: #E5FAEB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:30px;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_name_div {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_name{
    font-weight: bold;
    font-size: 12px;
}

.header_bottom{
    display: flex;
    align-items: center;
    gap: 50px;
}

.text-style{
    font-family: 'Crimson Text', serif;
    font-size: 22px;
}

.text-italic{
    font-style: italic;
}

.header_bottom_left, .header_bottom_right{
    flex:1;
}

.flex-row{
    display: flex;
    align-items: center;
}

.flex-row-only{
    display: flex;
}

.flex-row-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row-sa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.flex-row-wrap-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.border-1{
    border: 1px solid black;
}

.gap-5{
    gap:5px
}

.gap-10{
    gap:10px;
}

.gap-20{
    gap:20px;
}

.gap-30{
    gap:30px;
}

.gap-50{
    gap: 50px;
}

.section{
    break-inside: avoid;
}

.bigger_heading{
    font-size: 22px;
    padding: 20px;
    box-sizing: border-box;
}

.section_heading {
    color: rgb(0, 204, 68);
    font-weight: 600;
    font-size: 16px;
    margin: 0px 20px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.section_heading_trust {
    font-weight: 600;
    font-size: 16px;
    margin: 0px 20px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.section_heading_dark_16 {
    font-weight: 600;
    font-size: 16px !important;
    margin: 20px;
}

.section_sub_heading {
    font-size: 16px;
    margin: -10px 20px 0px 20px;
    padding: 0px 0px;
    box-sizing: border-box;
}

.section_sub_text {
    font-size: 12px;
    margin: 0px 20px;
    margin-bottom: 20px;
    padding: 0px 0px;
    box-sizing: border-box;
}
.text-22{
    font-size: 22px;
}
.text-bigger{
    font-size: 18px;
}
.text-big{
    font-size: 16px !important;
}
.text-medium{
    font-size: 14px;
}
.text-small{
    font-size: 12px;
}
.text-bold{
    font-weight: 600;
}
.text-normal{
    font-weight: normal;
}

.text-dark{
    color: #3D4740 !important;
}



.my-10{
    margin: 10px 0px;
}

.my-20{
    margin: 20px 0px;
}

.my-30{
    margin: 30px 0px;
}

.my-40{
    margin: 40px 0px;
}

.mx-20{
    margin: 0px 20px;
}

.py-20{
    padding: 20px 0px;
}

.m-20{
    margin: 20px;
}

.mb-5{
    margin-bottom: 5px;
}

.mt--5{
    margin-top: -5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-30{
    margin-bottom: 30px;
}

.mr-30{
    margin-right: 30px;
}

.mx-15p{
    margin: 0px 15%;
}

.px-5{
    padding: 0px 5px;
}

.px-20{
    padding: 0px 20px;
}

.pb-8{
    padding-bottom: 8px;
}

.pb-13{
    padding-bottom: 13px;
}

.pb-15{
    padding-bottom: 8px;
}

.px-15{
    padding: 0px 15px;
}

.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px;
}

.pr-10{
    padding-right: 10px;
}

.pr-20{
    padding-right: 20px;
}

.pt-60{
    padding-top: 60px;
}

.flex-1{
    flex: 1;
}

.flex-3{
    flex: 3;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-top{
    vertical-align: top;
}

.vertical-center{
    vertical-align: middle !important;
}

.text-underline{
    padding-bottom: 5px;
    margin: 5px;
    border-bottom: 1px solid lightgray;
}

.text-green{
    color: #00CE3F;
}

.text-white{
    color: white;
}

.table_container {
    display: flex;
    break-inside: avoid;
}

.exclusion_table_container {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 4px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

hr {
    margin: 0px 20px;
    border-top: 0.5px solid lightgray;
}

.hr{
    border-top: 1px solid #DCDCE1;
    margin: 0px 20px;
}

.break-avoid{
    break-inside: avoid;
}

.width-5{
    width: 5%;
}

.width-10{
    width: 10%;
}

.width-15{
    width: 15%;
}

.width-20{
    width: 20%;
}

.width-33{
    width: 33% !important;
}

.width-45{
    width: 45%;
}

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;
}

.width-25{
    width: 25%;
}

.width-70{
    width: 70%;
}

.width-70{
    width: 70%;
}

.width-80{
    width: 80%;
}

.width-90{
    width: 90%;
}

.width-95{
    width: 95%;
}

.width-85{
    width: 85%;
}

.vert-align-top{
    vertical-align: text-top;
}

table {
    width: 100%;
}

.custom_table {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid lightgray;
    break-inside: avoid;
}

.custom_table:nth-child(even) {
    border-right: none;
}

.custom_table_half {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    break-inside: avoid;
}

.visibility-none{
    visibility: hidden;
}

.joint{
    border: 1px solid #00CE3F;
    width: max-content;
    background-color: #00CE3F;
    color: white;
    padding: 1px 4px;
    border-radius: 14px;
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 12px;
}

.declaration_container{
    display: flex;
    gap: 20px;
    width: 85%;
    margin-bottom: 30px;
    vertical-align: text-top;
}

.checkbox{
    border-radius: 4px;
    background-color: #00CE3F;
    color: white;
    height: 25px;
    width: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;   
}

.signature_box{
    height: 120px;
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signature_box_appointment_declaration{
    height: 120px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address_document_image{
    height: 120px;
    width: 350px;
    border: 1px solid lightgray;
    border-radius: 15px;
    display: flex;
}

.center_container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.min-width-80{
    min-width: 100%;
}

.round_div_with_padding_20 {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 4px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info_container{
    background-color: #E5FAEB;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
}

.info{
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgb(65, 64, 64);
    height: 10px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.address_card{
    width: 45%;
    padding: 15px;
    border-radius: 15px;
    background-color: #00CE3F;
}

.address_card_relatives{
    width: 45%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
}

.checked{
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 1px solid #00CE3F;
    background-color: #00CE3F;
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notchecked{
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 1px solid #00CE3F;
    background-color: #fff;
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}